<form class="personal-data-form" #personalDataForm='ngForm'>
  <h2>Let us know a little bit about yourself...</h2>
  <mat-form-field appearance="standard" class="field-full-width">
    <mat-label>Full Name</mat-label>
    <input matInput minlength="3" required name="full-name" placeholder="Full Name" [(ngModel)]="formsData.personalDetails.fullName">
  </mat-form-field>

  <mat-form-field appearance="standard" class="field-full-width">
    <mat-label>Email</mat-label>
    <textarea matInput email name="email" required type="email" placeholder="Email" [(ngModel)]="formsData.personalDetails.email"></textarea>
  </mat-form-field>

  <mat-form-field appearance="standard" class="field-full-width">
    <mat-label>Phone Number:</mat-label>
    <textarea matInput name="phone-number" type="tel" placeholder="Phone number" [(ngModel)]="formsData.personalDetails.phoneNumber"></textarea>
  </mat-form-field>

  <div class="button-bar">
    <button mat-raised-button color="primary"
            [disabled]="personalDataForm.invalid"
            (click)="onClickNext()">Next</button>
  </div>
</form>
